:root {
}

.pauseMenuButton {
    margin-top: 100px;
    height: 128px;
    margin-bottom: 100px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 128px;
    -unity-background-scale-mode: scale-to-fit;
}

.pauseButton {
    top: 40px;
    right: 40px;
    align-self: flex-end;
    width: 128px;
    height: 128px;
    background-image: url("project://database/Assets/Game/Textures/PauseButton.png?fileID=2800000&guid=2a5e5a6c46a9dfd4fb138eb33316ba1d&type=3#PauseButton");
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: scale-to-fit;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.uiButton:hover {
    scale: 1.5 1.5;
    transition-property: scale;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.mainMenuButton {
    align-items: center;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 128px;
    height: 128px;
    margin-top: 200px;
    margin-bottom: 200px;
    -unity-background-scale-mode: scale-to-fit;
}
